-- Script de reset completo do banco de dados
-- Execute este script se houver problemas com dados duplicados ou estrutura incorreta

-- Remover todas as tabelas existentes (em ordem para evitar conflitos de FK)
DROP TABLE IF EXISTS public.contact_messages CASCADE;
DROP TABLE IF EXISTS public.availability_settings CASCADE;
DROP TABLE IF EXISTS public.menu_items CASCADE;
DROP TABLE IF EXISTS public.menu_categories CASCADE;
DROP TABLE IF EXISTS public.blog_posts CASCADE;
DROP TABLE IF EXISTS public.reservas CASCADE;
DROP TABLE IF EXISTS public.profiles CASCADE;

-- Remover views se existirem
DROP VIEW IF EXISTS public.reservas_stats CASCADE;

-- Remover funções se existirem
DROP FUNCTION IF EXISTS public.cancel_reserva(UUID, TEXT) CASCADE;
DROP FUNCTION IF EXISTS public.confirm_reserva(UUID) CASCADE;
DROP FUNCTION IF EXISTS public.update_updated_at_column() CASCADE;

-- Agora executar o script completo
-- Função para atualizar updated_at automaticamente
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$ language 'plpgsql';

-- Tabela de perfis de usuário
CREATE TABLE public.profiles (
    id UUID REFERENCES auth.users(id) ON DELETE CASCADE PRIMARY KEY,
    email TEXT,
    name TEXT,
    phone TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Tabela de reservas
CREATE TABLE public.reservas (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    user_id UUID REFERENCES auth.users(id) ON DELETE SET NULL,
    data DATE NOT NULL,
    horario TIME NOT NULL,
    pessoas INTEGER NOT NULL CHECK (pessoas > 0 AND pessoas <= 20),
    status TEXT DEFAULT 'pendente' CHECK (status IN ('pendente', 'confirmada', 'cancelada', 'concluida')),
    observacoes TEXT,
    telefone_confirmacao TEXT,
    codigo_confirmacao TEXT,
    confirmado_em TIMESTAMP WITH TIME ZONE,
    cancelado_em TIMESTAMP WITH TIME ZONE,
    cancelado_por UUID REFERENCES auth.users(id),
    motivo_cancelamento TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Tabela de posts do blog
CREATE TABLE public.blog_posts (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    title TEXT NOT NULL,
    slug TEXT UNIQUE NOT NULL,
    content TEXT NOT NULL,
    excerpt TEXT,
    featured_image TEXT,
    published BOOLEAN DEFAULT false,
    author_id UUID REFERENCES auth.users(id),
    published_at TIMESTAMP WITH TIME ZONE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Tabela de categorias do menu
CREATE TABLE public.menu_categories (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    name TEXT NOT NULL UNIQUE,
    description TEXT,
    display_order INTEGER DEFAULT 0,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Tabela de itens do menu
CREATE TABLE public.menu_items (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    name TEXT NOT NULL,
    description TEXT,
    price DECIMAL(10,2) NOT NULL,
    category TEXT NOT NULL,
    available BOOLEAN DEFAULT true,
    featured BOOLEAN DEFAULT false,
    allergens TEXT[],
    image_url TEXT,
    preparation_time INTEGER,
    ingredients TEXT[],
    nutritional_info JSONB,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Tabela de configurações de disponibilidade
CREATE TABLE public.availability_settings (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    day_of_week INTEGER NOT NULL CHECK (day_of_week >= 0 AND day_of_week <= 6),
    opening_time TIME NOT NULL,
    closing_time TIME NOT NULL,
    max_capacity INTEGER DEFAULT 50,
    is_closed BOOLEAN DEFAULT false,
    special_hours JSONB,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Tabela de mensagens de contato
CREATE TABLE public.contact_messages (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    name TEXT NOT NULL,
    email TEXT NOT NULL,
    phone TEXT,
    subject TEXT,
    message TEXT NOT NULL,
    status TEXT DEFAULT 'novo' CHECK (status IN ('novo', 'lido', 'respondido')),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Triggers para updated_at
CREATE TRIGGER update_profiles_updated_at 
    BEFORE UPDATE ON public.profiles 
    FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_reservations_updated_at 
    BEFORE UPDATE ON public.reservas 
    FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_blog_posts_updated_at 
    BEFORE UPDATE ON public.blog_posts 
    FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_menu_items_updated_at 
    BEFORE UPDATE ON public.menu_items 
    FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_availability_settings_updated_at 
    BEFORE UPDATE ON public.availability_settings 
    FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_contact_messages_updated_at 
    BEFORE UPDATE ON public.contact_messages 
    FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

-- Habilitar Row Level Security (RLS)
ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.reservas ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.blog_posts ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.menu_categories ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.menu_items ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.availability_settings ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.contact_messages ENABLE ROW LEVEL SECURITY;

-- Políticas RLS
CREATE POLICY "Users can view own profile" ON public.profiles
    FOR SELECT USING (auth.uid() = id);
CREATE POLICY "Users can update own profile" ON public.profiles
    FOR UPDATE USING (auth.uid() = id);
CREATE POLICY "Users can insert own profile" ON public.profiles
    FOR INSERT WITH CHECK (auth.uid() = id);

CREATE POLICY "Users can view own reservations" ON public.reservas
    FOR SELECT USING (auth.uid() = user_id OR user_id IS NULL);
CREATE POLICY "Users can insert own reservations" ON public.reservas
    FOR INSERT WITH CHECK (auth.uid() = user_id OR user_id IS NULL);
CREATE POLICY "Users can update own reservations" ON public.reservas
    FOR UPDATE USING (auth.uid() = user_id OR user_id IS NULL);
CREATE POLICY "Allow guest reservations" ON public.reservas
    FOR ALL USING (user_id IS NULL);

CREATE POLICY "Published blog posts are viewable by everyone" ON public.blog_posts
    FOR SELECT USING (published = true);
CREATE POLICY "Authenticated users can manage blog posts" ON public.blog_posts
    FOR ALL USING (auth.role() = 'authenticated');

CREATE POLICY "Menu categories are viewable by everyone" ON public.menu_categories
    FOR SELECT USING (true);
CREATE POLICY "Authenticated users can manage menu categories" ON public.menu_categories
    FOR ALL USING (auth.role() = 'authenticated');

CREATE POLICY "Menu items are viewable by everyone" ON public.menu_items
    FOR SELECT USING (true);
CREATE POLICY "Authenticated users can manage menu items" ON public.menu_items
    FOR ALL USING (auth.role() = 'authenticated');

CREATE POLICY "Availability settings are viewable by everyone" ON public.availability_settings
    FOR SELECT USING (true);
CREATE POLICY "Authenticated users can manage availability" ON public.availability_settings
    FOR ALL USING (auth.role() = 'authenticated');

CREATE POLICY "Anyone can insert contact messages" ON public.contact_messages
    FOR INSERT WITH CHECK (true);
CREATE POLICY "Authenticated users can view contact messages" ON public.contact_messages
    FOR SELECT USING (auth.role() = 'authenticated');
CREATE POLICY "Authenticated users can update contact messages" ON public.contact_messages
    FOR UPDATE USING (auth.role() = 'authenticated');

-- Inserir dados iniciais

-- Inserir posts do blog

-- Configurações de disponibilidade (exemplo)
INSERT INTO availability_settings (day_of_week, opening_time, closing_time, max_capacity) VALUES
(0, '12:00', '23:00', 50), -- Domingo
(1, '18:00', '23:00', 50), -- Segunda (fechado para almoço)
(2, '12:00', '23:00', 50), -- Terça
(3, '12:00', '23:00', 50), -- Quarta
(4, '12:00', '23:00', 50), -- Quinta
(5, '12:00', '01:00', 60), -- Sexta (horário estendido)
(6, '12:00', '01:00', 60); -- Sábado (horário estendido)

-- Criar view para estatísticas de reservas
CREATE VIEW reservas_stats AS
SELECT 
    DATE_TRUNC('month', created_at) as mes,
    COUNT(*) as total_reservas,
    COUNT(*) FILTER (WHERE status = 'confirmada') as confirmadas,
    COUNT(*) FILTER (WHERE status = 'cancelada') as canceladas,
    COUNT(*) FILTER (WHERE status = 'pendente') as pendentes,
    AVG(pessoas) as media_pessoas
FROM reservas
GROUP BY DATE_TRUNC('month', created_at)
ORDER BY mes DESC;

-- Funções para gerenciar reservas
CREATE OR REPLACE FUNCTION confirm_reserva(reserva_id UUID)
RETURNS VOID AS $$
BEGIN
    UPDATE reservas 
    SET status = 'confirmada', 
        confirmado_em = CURRENT_TIMESTAMP
    WHERE id = reserva_id;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

CREATE OR REPLACE FUNCTION cancel_reserva(reserva_id UUID, motivo TEXT DEFAULT NULL)
RETURNS VOID AS $$
BEGIN
    UPDATE reservas 
    SET status = 'cancelada', 
        cancelado_em = CURRENT_TIMESTAMP,
        cancelado_por = auth.uid(),
        motivo_cancelamento = motivo
    WHERE id = reserva_id;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;
